.main {
    padding: 24px;
    background: #4568DC;
    background: -webkit-linear-gradient(to left, #B06AB3, #4568DC);
    background: linear-gradient(to left, #B06AB3, #4568DC);
    height: 691px;
}

.table-title {
    text-align: center;
    color: #ffff;
    font-size: 50px;
    margin-bottom: 2.5%;
    font-weight: bold;
}

.table-container {
    background-color: transparent;
    backdrop-filter: blur(50px);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.table-container:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.center-text {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #ffff;
}
#encabezado{
    color: #ffff;
    background-color: #a17fe0;
    font-size: 20px;
}
.colored-table {
    background: rgba(255, 255, 255, 0.007);
}

tr.mat-header-row {
    background-color: #6200ea;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

tr.mat-row {
    transition: background-color 0.3s ease;
}

tr.mat-row:hover {
    background-color: #e1bee7;
}

.action-message {
    background-color: #bb86fc;
    color: #ffffff;
    padding: 12px;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}